h1{
	Color:aquamarine;
}
img{
	width: 400px;
}
#thirdDiv{
	background: Color:black;
	height: 500px;
	width: 600px;
	padding: 50px;
	border: 10px solid white;
}
#spandId{
	font-size: 18px;
	margin: 50px;
}
